@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');

$accent-background-color: #4c00d8;
$primary-background-color: #0e0e16;
$secondary-background-color: #757575;

$accent-text-color: #ffffff;
$primary-text-color: #ffffff;
$secondary-text-color: #757575;

* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;

  align-items: center;

  height: 100vh;

  padding-left: 5%;

  font-family: 'Open Sans', sans-serif;

  background-color: $primary-background-color;
  color: $primary-text-color;
}

main {
  h1 {
    font-size: 44px;
    font-weight: 300;

    margin-bottom: 20px;
  }

  h2 {
    font-size: 22px;
    font-weight: 400;

    margin-bottom: 20px;

    color: $secondary-text-color;
  }

  form {
    margin-bottom: 10px;

    input {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 400;

      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;

      width: 260px;

      border: 2px solid $secondary-background-color;
      border-radius: 6px;
      color: $secondary-text-color;
      background-color: $primary-background-color;
      margin-right: 10px;

      transition: border 0.2s linear;

      &:focus {
        border: 2px solid $accent-background-color;
      }
    }

    button {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 400;

      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;

      background-color: $accent-background-color;
      border: 2px solid $accent-background-color;
      border-radius: 6px;
      color: $accent-text-color;
    }
  }

  p {
    margin-left: 10px;
    display: inline;
  }

  a {
    color: $accent-background-color;
    text-decoration: none;
  }
}
